<?xml version="1.0" encoding="utf-8" ?>
<!-- 
Copyright © Visual Vincent 2014-2015

You may not under any circumstances redistribute a modified version of this code,
but you may however modify this code in the terms of personal use or (for the author) helpful use
(such as using it to provide helpful fixes or suggestions).

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS", WITHOUT ANY WARRANTY.
THE AUTHOR OR CONTRIBUTORS SHALL NEVER BE HELD RESPONSIBLE FOR ANY DAMAGES CAUSED BY IT.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doom_Writer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Doom_Writer.My.MySettings>
            <setting name="Color" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>A</string>
                        <string>B</string>
                        <string>C</string>
                        <string>D</string>
                        <string>E</string>
                        <string>F</string>
                        <string>G</string>
                        <string>H</string>
                        <string>I</string>
                        <string>J</string>
                        <string>K</string>
                        <string>L</string>
                        <string>M</string>
                        <string>N</string>
                        <string>O</string>
                        <string>P</string>
                        <string>Q</string>
                        <string>R</string>
                        <string>S</string>
                        <string>T</string>
                        <string>U</string>
                        <string>V</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AllowCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RowSpacing" serializeAs="String">
                <value>16</value>
            </setting>
        </Doom_Writer.My.MySettings>
    </userSettings>
</configuration>
